{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "next",
    "plugin:@typescript-eslint/recommended",
    "next/core-web-vitals"
  ],
  "rules": {
    "react/jsx-no-useless-fragment": 0,
    "react/function-component-definition": 0,
    "react/require-default-props": 0,
    "react/jsx-props-no-spreading": 0,
    "no-restricted-exports": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".tsx"
        ]
      }
    ],
    "import/extensions": [
      "error",
      {
        "tsx": 0
      }
    ],
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "pathGroupsExcludedImportTypes": [
          "builtin"
        ],
        "groups": [
          "external",
          "type",
          "internal",
          "index",
          "parent",
          "sibling",
          "builtin",
          "object"
        ]
      }
    ],
    "@typescript-eslint/consistent-type-imports": "error"
  }
}
