.root {
  max-width: 100%;
}

.actions {
  display: flex;
  padding: 12px 0;
  justify-content: space-between;

  button, select {
    padding: 8px;
    border-radius: 8px;
    min-width: 100px;
    text-transform: uppercase;
    margin: 0;
    border: 0;
  }

  button {
    cursor: pointer;
  }
}

.error {
  color: #d30000;
  font-size: 12px;
}

.copy {
  position: absolute;
  right: -12px;
  bottom: -12px;
}