.root{
  background: #339af0;
  padding: 8px 12px;
  border: 0;
  border-radius: 12px;
  width: 100px;
  cursor: copy;
  &[disabled] {
    cursor: default;
  }
  &:active {
    box-shadow: 2px 2px 2px #3aa3f8;
  }
}